* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    
    width: 100vw;
}

nav {
    width: 100%;
    height: 60px;
    background-color: rgb(19, 25, 33);
    position: sticky;

}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;


}

.nav-main {
    width: 310px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 10px
}

.nav-logo {
    background-size: cover;
    width: 125px;
    height: 55px;
    background-image: url("amazon_logo.png");
    cursor: pointer;

}

.nav-add {
    color: white;
    width: 165px;
    padding: 10px 0px 40px 18px;
    cursor: pointer;
    height: 55px;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;

}

.small-size-text {
    color: #cccccc;
    font-size: 0.8rem;
    padding-left: 15px;
}

.large-size-text {
    font-size: 0.85rem;
    font-weight: bolder;
    color: white;
    background-color: transparent;
}

.add-icon {
    display: flex;
    width: 100%;
}

.add-select {
    margin-top: 2px;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: auto;

}

.search-options {
    width: 53px;
    background-color: #f3f3f3;
    text-align: center;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    cursor: pointer;
}

.search-input {
    padding-left: 10px;
    width: 530px;
    font-size: 1rem;
    border: none;

}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45px;
    background-color: rgb(243, 168, 71);
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 10px;
}

.country-select {
    background-color: transparent;
    color: #f3f3f3;
    border: none;
}

.country-select option {
    color: black;
    margin: 0px;
    padding: 0px;
}

.accounts {
    padding: 10px;
}

.account {
    background-color: transparent;
    color: white;
    border: none;
}

.returns {
    padding: 10px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    height: 100%;
    padding: 8px;
}

.categories {
    height: 40px;
    width: 100%;
    background-color: #232f3e;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    font-size: 14px;
    position: relative;

}

.categories-section {
    display: flex;
    gap: 17px;

    position: absolute;
}

.categories-section p {

    padding: 5px;
    cursor: pointer;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all p {
    padding-left: 3px;
    font-weight: bolder;
}

.prime-day-sale {
    display: flex;
    justify-content: end;
    position: relative;
    left: 930px;
}

.banner {
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    object-fit: cover;

}

.banner img {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.grid-categories {
    width: 100%;
    height: 1600px;
    display: grid;
    padding: 20px;
    padding-top: 0px;
    background-image: linear-gradient(rgb(234, 245, 249), #E3E6E6);
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 0px;
    margin-right: 50px;
}

.box1 {
    padding: 25px 25px 10px 25px;
    height: 420px;
    object-fit: contain;
    background-color: #ffffff;
}

.box1 h2 {
    font-size: 21px;
}

.box1 img {
    width: 100%;
    height: 260px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box1-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

}

.box1 a {
    text-decoration: underline;
    display: flex;
    align-items: end;
}

.box1-grid img {
    width: 100%;
    height: 120px;
    padding: 0%;
    margin: 0%;
}

.grid-in-grid p {
    font-size: 0.8rem
}

.boots {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 250px;
    margin: 10px 20px 20px 20px;
}

.boot-images {
    display: flex;
    width: 100vw;
    padding: 0px 10px 0px 10px;
    gap: 30px;
}

.boot-images img {
    width: 185px;
    height: 150px;
}

.boots-text {
    margin: 10px 0px 20px 15px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3E6E6;

}

.final-section {
    width: 100vw;
    height: 500px;
    display: grid;
    padding: 25px;

    background-color: #E3E6E6;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-right: 50px;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

}

.box2 {
    padding: 25px 25px 10px 25px;
    width: 310px;
    height: 420px;
    object-fit: contain;
    background-color: #ffffff;
}

.box2 h2 {
    margin-bottom: 10px;
    font-size: 21px;
}

.box2 img {
    width: 100%;
    height: 280px;
    margin-top: 20px;
}

.box a {
    text-decoration: underline;
    display: flex;
    align-items: end;
}

.box img {
    width: 100%;
    height: 120px;

}

a {
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(39, 134, 151);
}

.box p {
    display: flex;
    align-items: end;
}

.recommendations {
    width: 100vw;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.signin {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 100px 5px 100px;
    border-radius: 7px;
    font-size: 0.8rem;
    margin-bottom: 20px;
    background-image: linear-gradient(#FFD772, rgb(255, 194, 38));
}

.back {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 71, 90);
}

.blank {
    background-color: white;
    height: 30px;
    width: 100vw;
}

.back a {
    color: #ffffff;
    font-size: 13px;
}

.contact {
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-evenly;
}

.endsection {
    padding-top: 80px;
    width: 100vw;
    height: auto;
    background-color: rgb(35, 47, 62);

}

.endsection h2 {
    margin: 6px 0px 14px;
    font-size: 16px;
}

.endsection p {
    font-size: 14px;
    color: #dddddd;
    margin-bottom: 14px;
}

.line {
    margin-top: 40px;
    background-color: #232f3e;

}

.logo {
    width: 100vw;
    height: 100px;
}

.logopng img {
    height: 70px;
    width: 150px;
}

.logo {
    font-size: 13px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages {
    margin: 40px;
    background-color: transparent;
    padding: 6px 40px;
    border-radius: 2px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.countries {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
}

.rest {
    display: flex;
    justify-content: center;
    color: #dddddd;
    gap: 10px;
    font-size: 12px;
}

.facilities1 {
    font-size: 12px;
    padding-top: 20px;
    padding: 20px 0px 20px 40px;
    width: 100vw;
    height: 60px;
    background-color: rgb(19, 26, 34);
    display: flex;
    justify-content: center;
    margin: 0%;
    gap: 140px;
}

.facilities1 h5 {
    color: #dddddd;
}

.facilities1 p {
    color: #999999;
}

.facilities2 {
    margin: 0%;
    font-size: 12px;
    padding-top: 20px;
    padding: 20px 0px 20px 100px;
    width: 100vw;
    height: 60px;
    gap: 140PX;
    background-color: rgb(19, 26, 34);
    display: flex;
    justify-content: center;
    
}

.facilities2 h5 {
    color: #dddddd;
}

.facilities2 p {
    color: #999999;
}